<%= form_for @athlete, url: save_athletes_path do |f| %>
  <% if @athlete.errors.any? %>
    <div class="error_explanation">
      <span><b>Errors</b></span>
      <ul>
        <% @athlete.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <%= f.label :school_id %>
    <%= select_tag "athlete[school_id]", options_from_collection_for_select(School.all, "id", "name"), :prompt => "Select a School", :value => "this.value" %>
    <%= f.label :team_id %>
    <span id="teamsDevise">
      <%= render :partial => 'teams', :locals => {:teams => @teams||[]} %>
    </span>
  </div>

  <div><%= f.label :name %><br />
    <%= f.text_field :name %></div>

  <div><%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %></div>

  <div><%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %></div>

  <div><%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %></div>

  <div><%= f.label :city %><br />
    <%= f.text_field :city %></div>

  <div><%= f.label :state %><br />
    <%= f.text_field :state %></div>

  <div><%= f.label :phone_no %><br />
    <%= f.text_field :phone_no %></div>
  <p>
    <%= f.file_field :avatar %>
  </p>
  </p>
  <br>
  <div>
    <%= f.check_box :term_and_condition %>
    I have accepted <span id="term_and_condition">
      <%= link_to "Term and Condition", remote: true%></span>
  <br>
  <div><%= f.submit %></div>
<% end %>