<%= flash[:notice] %>
<!--<%= debug @athlete %>
<%= simple_format @athlete.to_yaml %>
<%= @athlete.inspect %> -->
<center><h4> Profile of - <%= @athlete.name %></h4></center>
<div class = "athlete_show">
  <%= image_tag @athlete.avatar.url %>
</div>
<div class = "athlete_show_detail">
  <table class = "athlete_show_table">
    <tr>
      <th>Name</th> 
      <td><%= @athlete.name %></td>
    </tr>
    <tr>
      <th>E-mail</th>
      <td><%= @athlete.email %></td>
    </tr>
    <tr>
      <th>City</th>
      <td><%= @athlete.city %></td>
    </tr>
    <tr>
      <th>School</th>
      <% if @athlete.school.present? %>
        <td><%= @athlete.school.name %></td>
      <% else %>
        <td>Not assigned</td>
      <% end %>
    </tr>
    <tr>
      <th>Phone</th>
      <td><%= @athlete.phone_no %></td>
    </tr>
    <% if can? :manage, @athlete %>
      <tr>
        <th> Action </th>
        <td>
          <%= link_to 'Edit', edit_athlete_path(@athlete), method: :get %>
          <%= link_to 'Delete', athlete_path(@athlete), method: :delete %>
        </td>
      </tr>
      <tr>
        <th>Athlete status</th>
        <td>
          <button id = "active_button" value = "<%= @athlete.id %>" > <%=check_user_status(@athlete.id) %> </button>
          <%=check_user_status(@athlete.id) %>
        </td>
      </tr>
    <% end %>
  </table>
</div>

<div class = "athlete_show_comment">
  <h4> comments - <%= @athlete.comments.count %></h4>
  <%= form_for [@commentable, @comment] do |f| %>
    <p>
      <%= f.label :content %><br />
      <%= f.text_area :content, :rows => 2 %>
    </p>
    <p>
      <%= submit_tag "comment" %>
    </p>
  <% end %>
  <% if @athlete.comments.count > 0 %>
    <% @athlete.comments.each do |comment| %>
        <li><%= comment.content %></li>
    <% end %>
  <% end %>
</div>

<div class = "athlete_show_like">
  <p id="like_count">Total likes - <%= @athlete.likes.count %> </p>
  <button value = "<%= @athlete.id %>" id = "like_button" ><%= user_already_liked(@athlete.id, current_athlete.id) %> </button>
</div>
  