<div class= "header">
  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, class: name %>
  <% end %>
  <%= image_tag "sport.jpeg", class: 'header_image' %>
  <% if athlete_signed_in? %>
    <div class="user_information">
      Logged in as <strong><%= current_athlete.name %></strong>
      <!-- E-mail- <b><%=current_athlete.email %></b> -->
      <%= link_to 'Edit profile', edit_athlete_registration_path %>|
      <%= link_to "Logout", destroy_athlete_session_path, method: :delete  %>
    </div> 
    <div class="header_link">
      <%= link_to "Athletes", athletes_path %>
      <%= link_to "School", schools_path %>
      <%= link_to "Games", games_path %>
      <%= link_to "Team", teams_path %>
    </div>
  <% else %>
    <div class ="user_information">
      <%= link_to "Sign up", new_athlete_registration_path %> |
      <%= link_to "Login", new_athlete_session_path %>
    </div>
  <% end %>
</div>

