<%= form_for @school  do |f| %>
  <% if @school.errors.any? %>
    <div class="error_explanation">
      <span><b>Errors</b></span>
      <ul>
        <% @school.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </div>
  <div>
    <%= f.label :phone_no %><br>
    <%= f.text_field :phone_no %>
  </div>
  <p>
    <%= f.file_field :avatar %>
  </p>
  <p>Team's form</p>
  <%= f.fields_for :teams do |ff| %>
  <div>
    <%= ff.label :name %><br>
    <%= ff.text_field :name %>
  </div>
  <% end %>
  <p>
    <%= f.submit %>
  </p>
<% end %>