<div class = "search_form">
  <%= form_tag (search_schools_path) do %>  
  <%= text_field_tag :search, params[:search], placeholder: "Search school by name or address" %> 
  <%= submit_tag "Search", :name => nil %>     
  <% end %>
</div>
<h3> School Index </h3>
<table>
  <tr>
    <th>School Id</th>
    <th>School name</th>
    <th>View</th>
  </tr>
  <% @schools.each do |school| %>
    <tr>
      <td><%= school.id %></td>
      <td><%= school.name %></td>
      <td><%= link_to "show", school_path(school) %></td>
    </tr>
  <% end %>
</table>
<% if can? :create, @schools %>
  <%= link_to 'New School registration', new_school_path %>
<% end %>